# Python
__pycache__/
.pytest_cache/
.venv/
*.py[cod]
scripts/

# Data
data/cache/
data/*.parquet
data/models/
data/nlp/*
!data/nlp/
!data/nlp/topics.json
data/transcripts/
quickstatements/

# Secrets
.env

# Frontend
frontend/node_modules/
frontend/.astro/
frontend/dist/
